.admin-home-container{
    height: auto;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
}
.admin-home-rightsection{
    height: 100vh;
    width: 10%;
    background-color: rgb(255, 255, 255);
    gap: 5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    padding: 5px;
    box-shadow: opx 10px 10px 10px black;
    position: fixed;
    top: 100px;

    left: 0;
}
.admin-home-leftsection{
    height: auto;
    width: 93%;
    margin-left: 11%;
    margin-top: 8%;
    background-color: rgba(219, 216, 216, 0.726);
    
}
.admin-home-rightsection button{
background-color: rgb(255, 255, 255);
height: 40px;
width: 100%;
color: gray;
font-size: medium;
border: none;}