.women-image-container{
        columns: 4 250px;
    margin: 1rem;
    gap: 1rem;
}
.women-image-view{
            width: 100%;
    height: auto;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.women-image-view img{
            width: 100%;
    height: auto;
    border-radius: 7px;
    display: block;
}
.women-image-view button{
            background: none;
    border: none;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}